package migrations

import (
	"perturabo/alter"
	"perturabo/create"
	"perturabo/registry"
)

var {{.MigrationNameVar}} = "{{.MigrationName}}" // Name of migration MUST be the same as the filename without .go extenstion

var Up{{.MigrationNameCamelCase}} = registry.Register(
	registry.Action.Up,
	{{.MigrationNameVar}},
	func() any {
		return &alter.Table{
			Name: "{{.TableName}}",
			Body: []*alter.Column{
                //alter.Col() ... Fileds place here
			},
		}
	},
)

var Down{{.MigrationNameCamelCase}} = registry.Register(
	registry.Action.Down,
	{{.MigrationNameVar}},
	func() any {
		return &alter.Table{
			Name: "{{.TableName}}",
			Body: []*alter.Column{
                //alter.Col() ... Fileds place here
			},
		}
	},
)
