package migrations

import (
	"perturabo/create"
	"perturabo/registry"
)

var {{.MigrationNameVar}} = "{{.MigrationName}}" // Name of migration MUST be the same as the filename without .go extenstion

var Up{{.MigrationNameCamelCase}} = registry.Register(
	registry.Action.Up,
	{{.MigrationNameVar}},
	func() any {
		return &create.Table{
			Name: "{{.TableName}}",
			Body: []*create.Column{
            	create.NewId(),
                // Fields place here
				create.NewTimestamp("updated_at").SetDefault("now()"),
				create.NewTimestamp("created_at").SetDefault("now()"),
			},
		}
	},
)

var Down{{.MigrationNameCamelCase}} = registry.Register(
	registry.Action.Down,
	{{.MigrationNameVar}},
	func() any {
		return &create.Table{
			Name: "{{.TableName}}",
			Drop: true,
		}
	},
)
